@font-face {
  font-family: "CMU-Roman";
  src:
    url("/assets/fonts/cmu.serif-roman.woff2") format("woff2"),
    url("/assets/fonts/cmu.serif-roman.ttf") format("truetype");
}

@font-face {
  font-family: "CMU-Typewriter";
  src:
    url("/assets/fonts/cmu.typewriter-text-regular.woff2") format("woff2"),
    url("/assets/fonts/cmu.typewriter-text-regular.ttf") format("truetype");
}

@font-face {
  font-family: "CourierCyr";
  src:
    url("/assets/fonts/couriercyr.woff2") format("woff2"),
    url("/assets/fonts/couriercyr.ttf") format("truetype");
}

.slidev-note :not(pre) > code,
.slidev-layout :not(pre) > code {
  padding: 0.3rem 0 !important;
}

.mono-text {
  font-family: "CMU-Typewriter", monospace;
  font-size: 0.9em;
}

.slidev-layout.cover h1,
.slidev-layout.intro h1 {
  font-size: 3rem !important;
}

.slidev-footer {
  position: absolute;
  bottom: 0;
  left: var(--slide-padding-inline, 2rem);
  right: var(--slide-padding-inline, 2rem);
  padding: 1rem 1rem;
  text-align: center;
  box-sizing: border-box;
  opacity: 0.5;
}

