name: chktex
on:
  pull_request:
  push:
    branches: [main]
permissions:
  contents: read
  pull-requests: write
  checks: write
jobs:
  chktex:
    name: chktex
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Run ChkTeX
        uses: j2kun/chktex-action@v2
        with:
          lint-all: true
